.e-ticket {
  &__title {
    margin-bottom: 25px;
  }
  &__subtitle {
    margin-bottom: 10px;
  }
  &__instruction {
    line-height: 1.5;
    margin-bottom: 40px;
  }
  &__list {
    display: flex;
    gap: 30px;
  }
}
