.movies {
  &__title {
    margin-bottom: 15px;
  }
  // &__list {
  //   display: flex;
  //   gap: 30px;
  // }
  &__list {
    // margin-bottom: 30px;
    &:first-of-type {
      margin-bottom: 30px;
    }
  }
}

.movie {
  // &:not(:last-child) {
  //   margin-bottom: 30px;
  // }

  &__poster {
    margin-bottom: 10px;
  }
  &__name {
    font-size: 16px;
    color: #fff;
    margin-bottom: 5px;
  }
}

.swiper-slide {
  max-width: 190px;
}
