.ticket {
  max-width: 315px;
  // max-width: 340px;
  color: #000;
  border-radius: 15px;
  border: 1px solid #1b1e25;
  background: #fff;

  padding: 20px;
  margin-bottom: 45px;

  &__header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;

    margin-bottom: 30px;
  }
  &__movie {
    font-weight: 600;
  }
  &__label {
    font-weight: 600;
    color: #f14763;
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;

    margin-bottom: 50px;
  }
  &__info {
    & span {
      display: block;
      font-size: 14px;
      color: #717171;

      margin-bottom: 5px;
    }
    & strong {
      font-weight: 600;
    }
  }
  &__footer {
    position: relative;
    text-align: center;
    border-top: 2px dashed #1b1e25;
    padding: 20px 0 0;

    &::before,
    &::after {
      content: '';
      width: 40px;
      height: 40px;
      background: #1b1e25;
      border-radius: 50%;

      position: absolute;
      top: -20px;
    }

    &::before {
      left: -40px;
    }
    &::after {
      right: -40px;
    }
  }
}
