@import '../../assets/scss/variables.scss';

.field {
  display: block;
  width: 100%;
  max-width: 315px;

  &__error {
    display: block;
    color: $primaryRed;
    padding-top: 5px;

    &--primary {
      display: block;
      color: $primaryRed;
      text-align: center;
      padding: 5px 0;
    }
  }

  &__caption {
    display: block;
    color: #fff;
    margin-bottom: 10px;
  }
  &__item {
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgba(178, 181, 187, 0.5);
    cursor: pointer;

    padding: 15px 25px;
  }
}
