@import './assets/scss/normalize.scss';
@import './assets/scss/variables.scss';

body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  color: $secondaryText;
  background: $primaryBg;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

@media (min-width: 1024px) {
  .container {
    padding: 0 30px;
  }
}
