@import './assets/scss/normalize.scss';
@import './assets/scss/variables.scss';

body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  color: $secondaryText;
  background: $primaryBg;
}
