.details {
  &__title {
    margin-bottom: 30px;
  }
  &__poster {
    margin-bottom: 15px;
  }
  &__subtitle {
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
  }
  &__director {
    margin-bottom: 12px;
  }
  &__tags {
    display: flex;
    gap: 12px;
    margin-bottom: 30px;

    &-item {
      border-radius: 8px;
      background: #252932;
      padding: 4px 10px;
    }
  }
  &__text {
    line-height: 1.3;
    margin-bottom: 25px;
  }
  &__btn {
    display: block;
    max-width: 290px;
  }
}

@media (min-width: 480px) {
  .details {
    &__tags {
      &-item {
        padding: 4px 14px;
      }
    }
  }
}
