@import '../../assets/scss/variables.scss';

.nav {
  border-bottom: 1px solid $secondaryBg;
  padding: 25px 0;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__links {
    display: flex;
    align-items: center;
    gap: 40px;
    font-weight: 600;

    &-item {
      & a {
        display: flex;
        align-items: center;
        gap: 7px;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          color: #fff;
        }

        &.active {
          color: #fff;

          & svg path {
            fill: #fff;
          }
        }
      }
    }
  }
}
