@import '../../assets/scss/variables.scss';

.btn {
  display: block;
  width: 100%;
  max-width: 315px;
  font-size: 18px;
  text-align: center;
  color: #fff;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;

  padding: 15px 20px;

  &.primary {
    background: $primaryBlue;

    &:hover {
      background: #227ec1;
    }
  }
  &.secondary {
    background: $primaryBg;
  }
}
